<h1><%= @director.name %> Movies: </h1>

<ul>
  <% @director.movies.each do |movie| %>
<li>  <%= link_to(movie.title, movie_path(movie.id)) %></li>
<% end %>
</ul>

<% if @director.collab %>
Has codirected with: <%= @director.collab %>
<% end %>

